@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,800;6..12,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s linear;
    outline: none;
    border: none;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
header {
    box-shadow: var(--box-shadow);
    background-color: #4F772D;
    margin-bottom: 6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
}

nav img {
    width: 10rem; height: 10rem;
    object-fit: cover;
    background-color: #90A955;
    border-radius: .4rem;
}

nav span {
    font-size: 1.4rem;
    color: #FFF;
    font-weight: bold;
}
main {
    padding: 2rem 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

form {
    margin-right: 10rem;
    display: flex;
    flex: 1;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

form label input[type="submit"] {
    background-color: #F5D547;
    box-shadow: var(--box-shadow);
    color: #ECF0F1;
    padding: 1rem;
    border-radius: .4rem;
    cursor: pointer;
    width: 100%;
}

.dropArea {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    border: .4rem #31572C dotted;
    cursor: grab;
}

.dropArea:hover {
    background-color: #f2f2f2;
}

.dropArea img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

article {
    display: grid;
    grid-template-columns: repeat(2, minmax(40rem, 1fr));
    column-gap: 5rem;
    row-gap: 5rem;
    position: relative;

}

h1 {
    position: absolute;
    top: -5rem;
    left: 0;
    font-weight: bolder;
    gap: 4rem;
    font-size: 4rem;
}

figure {
    display: flex;
    flex-flow: column;
    max-width: 40rem;
    max-height: 30rem;
    margin: 0;
    box-shadow: var(--box-shadow);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
figcaption {
    background-color: #222;
    color: #ECF0F1;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.description {
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.description input[type="text"]{
    width: 100%;
    padding: 1.8rem;
    border-radius: 0.25rem;
    border: 1px solid #4F772D; 
    border-radius: .4rem;
    background-color: transparent;
    color: #000; 
}

  
@media screen and (max-width:450px) {
    article {
        margin-top: 4rem;
        grid-template-columns: 1fr;
    }
}